<main>
    <div class="container body-content" style="margin-top :20px;">
        <h1>Subject - <th:block th:text="${subject.name}"></th:block></h1>
        <div class="row">
            <th:block th:each="lesson : ${lessons}">

            <div class="card text-center" style="margin:20px;">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h4 class="card-title" th:text="${lesson.title}"></h4>
    <p class="card-text"  th:text="${lesson.summary}"></p>
    <a th:href="@{/lesson/{id}(id=${lesson.id})}" class="btn btn-warning">Go somewhere</a>
      <div sec:authorize="hasRole('TEACHER')" style="margin:5px;">
      <a th:href="@{/lesson/{id}(id=${lesson.id})}" class="btn btn-warning">Go somewhere</a></div>
  </div>
  <div class="card-footer text-muted">
      <p>
          <a class="btn btn-default btn-xs" th:each="tag:${lesson.tags}" th:href="@{/tag/{name}(name=${tag.name})}" th:text="${tag.name}"></a>
      </p>
  </div>
</div>

                <!--<div class="col-md-6">
                    <lesson>
                        <header>
                            <h2 th:text="${lesson.title}"></h2>
                        </header>

                        <p th:text="${lesson.summary}"></p>

                        <small class="author" th:text="${lesson.author.fullName}"></small>

                        <p>
                            <a class="btn btn-default btn-xs" th:each="tag:${lesson.tags}" th:href="@{/tag/{name}(name=${tag.name})}" th:text="${tag.name}"></a>
                        </p>

                        <footer>
                            <div class="pull-right">
                                <a class="btn btn-default btn-xs"
                                   th:href="@{/lesson/{id}(id=${lesson.id})}">Read more &raquo;</a>
                            </div>
                        </footer>
                    </lesson>
                </div>-->
            </th:block>
        </div>
    </div>
</main>
